html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 0;
}

.active {
    color: #000;
    border-bottom: 1px solid #000;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

.filter {
    background: rgba(0,0,0,.5);
    z-index: 2;
}

.header {
    background-image: url(../images/backgrounds/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__inner {
        padding: 60px 0 245px 0;
        position: relative;
    }
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.header__menu,
.footer__menu {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    li + li {
        margin-left: 55px;
    }
    a {
        border: 2px solid transparent;
        padding-bottom: 8px;
        &:hover {
            border-bottom: 2px solid #fb414e;
            transition: all 0.5s;
        }
    }
}

.menu__btn {
    width: 50px;
    cursor: pointer;
    display: none;
    div {
        background-color: #fb414e;
        height: 5px;
    }
    div+div {
        margin-top: 5px;
    }
}

.menu__list {
    width: 100%;
    display: none;
    text-align: center;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    position: absolute;
    top: 92px;
    li {
        border-bottom: 1px solid #fff;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #fb414e;
    }
}


.header__bottom {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.header__title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 60px;
    max-width: 900px;
    margin-bottom: 65px;
}

.header__text {
    max-width: 655px;
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}

.header__links {
    a {
        font-size: 16px;
        padding: 15px 50px;
        border: 2px solid #fb414e;
        &:hover {
            background-color: #fb414e;
            transition: all 0.5s;
        }
    }
    a+a {
        margin-left: 30px;
    }
}

.services__items {
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: absolute;
    top: -85px;
    div+div {
        margin-left: 10px;
    }
}

.services__item {
    max-width: 430px;
    width: 100%;
    background-color: #202b30;
    padding: 55px 55px;
    &:hover {
        background-color: #fb414e;
        transition: all 0.5s;
    }
    &-image {
        margin-bottom: 54px;
    }
    &-title {
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 35px;
        position: relative;
        margin-bottom: 30px;
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            width: 50px;
            height: 3px;
            background-color: #fff;
        }
    }
    &-text {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
    }
}

.services__inner {
    position: relative;
    padding-top: 475px;
    padding-bottom: 140px;
}

.services__subtitle {
    color: #fb414e;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 28px;
    text-align: center;
}

.services__title {
    font-family: 'Source Sans Pro', sans-serif;
    color: #1f1f1f;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
    span {
        color: #fb414e; 
    }
}

.services__text {
    position: relative;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 130px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #838383;
}

.services__types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
    &-wrapper {
        max-width: 33.333%;
        width: 100%;
    }
}

.services__type {
    max-width: 300px;
    width: 100%;
    padding: 0 5px;
    padding-bottom: 70px;
    text-align: center;
    margin: 0 auto;
    &-image {
        margin-bottom: 30px;
    }
    &-title {
        margin-bottom: 30px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        color: #1f1f1f;
        font-size: 32px;
    }
    &-text {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: #838383;
    }
}

.plans {
    padding: 114px 0;
    background-color: #202b30;
}

.plans__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plans__info {
    max-width: 620px;
    &-title {
        font-size: 48px;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        margin-bottom: 50px;
    }
    &-text {
        font-size: 16px;
        line-height: 28px;
        color: #fff;
        font-weight: 300;
        margin-bottom: 60px;
    }
    &-link {
        font-size: 16px;
        padding: 18px 60px;
        border: 2px solid #fff;
    }
} 

.plans__images {
    img+img {
        margin-left: 40px;
    }
}

.advantages {
    background-color: #f8f8f8;
}

.advantages__inner {
    padding: 130px 0 150px 0;
    display: flex;
    justify-content: space-between;
}

.advantages__left {
    max-width: 600px;
    width: 100%;
    &>div+div {
        margin-top: 75px;
    }
}

.advantages__items {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 270px;
    &-title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 22px;
        font-family: 'Source Sans Pro', sans-serif;
    }
    &-text {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #838383;
    }
}

.advantages__info {
    max-width: 640px;
    padding-right: 50px;
    &-title {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 57px;
    }
    &-text {
        color: #838383;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
    }
}

.products {
    padding: 140px 0;
}

.products__btn {
    text-align: center;
    margin-bottom: 55px;
    button+button {
        margin-left: 70px;
    }
    button {
        background-color: #fff;
        border: none;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        color: #a4a4a4;
        cursor: pointer;
        outline: none;
        padding-bottom: 6px;
        border-bottom: 1px solid transparent;
        &:hover {
            color: #000;
        border-bottom: 1px solid #000;
        transition: all 0.3s;
        }
    }
}

.products__items {
    display: flex;
    justify-content: flex-start;
    margin-left: 110px;
    flex-wrap: wrap;
    min-height: 680px;
}

.products__item {
    margin-right: 10px;
    margin-top: 10px;
}

.btn {
    &.mixitup-control-active {
        color: #000;
        border-bottom: 1px solid #000;
    }
}

.feedback {
    padding: 114px 0;
    background-color: #fff;
}

.feedback__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback__info {
    max-width: 600px;
    &-title {
        font-size: 48px;
        color: #000;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        margin-bottom: 50px;
    }
    &-text {
        font-size: 16px;
        line-height: 28px;
        color: #000;
        font-weight: 300;
        margin-bottom: 60px;
    }
    &-link {
        font-size: 16px;
        padding: 18px 60px;
        border: 2px solid #000;
        color: #000;
    }
}

.clients {
    background-color: #202b30;
    padding: 110px 0 140px 0;
}

.clients__inner {
    display: flex;
    justify-content: space-between;
}

.clients__logo {
    display: flex;
    max-width: 530px;
    width: 100%;
    justify-content: space-between;
}

.logo-one {
    margin-top: 31px;
    margin-bottom: 85px;
}

.logo-three {
    margin-bottom: 105px;
}

.clients__info {
    max-width: 610px;
    text-align: right;
    color: #fff;
    &-title {
        font-size: 48px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        margin-bottom: 50px;
    }
    &-text {
        font-size: 16px;
        line-height: 28px;
        font-weight: 300; 
    }
}

.design {
    background-image: url(../images/design.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.design__inner {
    padding: 143px 0 139px 0;
}

.design__info {
    max-width: 640px;
    &-title {
        font-size: 48px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        margin-bottom: 45px;
    }
    &-text {
        color: #838383;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300; 
        margin-bottom: 50px;
    }
}

.design__items {
    display: flex;
    justify-content: space-between;
}

.design__item {
    max-width: 300px;
    &-image {
        margin-bottom: 20px;
    }
    &-title {
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        margin-bottom: 30px;
        color: #5e5e5e;
    }
    &-text {
        color: #838383;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;   
    }
}

.contact {
    padding: 140px 0 230px 0;
}

.contact__inner {
    display: flex;
    justify-content: space-between;
}

.contact__info  {
    max-width: 550px;
    text-align: right;
    &-title {
        font-size: 60px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        margin-bottom: 60px;
    }
    &-text {
        color: #838383;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300; 
        margin-bottom: 40px;
    }
}

.contact__form {
    max-width: 640px;
    width: 100%;
    padding-top: 20px;
    position: relative;
    button {
        position: absolute;
        width: 1300px;
        padding: 18px 0;
        border: none;
        background-color: #fb414e;
        font-size: 16px;
        color: #fff;
        bottom: -70px;
        right: 0;
        cursor: pointer;
        text-align: center;
    }
    form {
        input,
        select,
        textarea {
            width: 100%;
            margin-bottom: 20px;
            border: 1px solid #000;
            padding-top: 18px;
            padding-right: 22px;
            padding-left: 22px;
            padding-bottom: 15px;
            font-size: 14px;
            font-weight: 300;
            color: #000;
            &::placeholder {
                font-size: 14px;
                font-weight: 300;
                color: #000;
            }
        }
        input,
        select {
            height: 50px;
        }
        select {
            appearance: none;
            background: url('../images/arrow.png') no-repeat 610px center;
            font-size: 14px;
            font-weight: 300;
        }
        textarea {
            height: 270px;
            resize: none;
            max-width: 640px;
        }
        .contact__form-row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            input {
                max-width: 310px;
            }
        }
    }
}

.footer {
    background-color: #202b30;
}

.footer__inner {
    padding: 100px 0 64px 0;
    display: flex;
    justify-content: space-between;
}

.footer__left {
    max-width: 330px;
    padding-right: 5px;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    .footer__logo {
        margin-bottom: 100px;
    }
    .contact__title {
        font-weight: 400;
        margin-bottom: 30px;
    }
    .contact__text {
        font-weight: 300;
        margin-bottom: 100px;
    }
}

.footer__links {
    a {
        display: inline-block;
        margin-right: 24px;
    }
}

.footer__right {
    max-width: 640px;
    text-align: right;
    .footer__menu {
        margin-bottom: 100px;
    }
    &-title {
        font-size: 16px;
        color: #fff;
        margin-bottom: 35px;
    }
    form {
        position: relative;
        margin-bottom: 100px;
    }
    button {
        position: absolute;
        width: 130px;
        background-color: #fb414e;
        cursor: pointer;
        height: 45px;
        border: none;
        color: #fff;
        font-size: 16px;
        right: 0;
    }
    input {
        width: 100%;
        height: 45px;
        padding: 18px;
        outline: none;
        &::placeholder {
            font-size: 14px;
            color: #848484;
        }
    }
    .footer__copyright {
        font-size: 14px;
        color: #586165;
        font-weight: 30;
    }
}

@import 'media';


















